# Build outputs
[Bb]in/
[Oo]bj/
*/[Bb]in/
*/[Oo]bj/
**/[Bb]in/
**/[Oo]bj/

# Visual Studio
.vs/
*.suo
*.user
*.userosscache
*.sln.iml

# ReSharper
_ReSharper.Caches/
*.cache

# NuGet
packages/
[Nn]u[Gg]et[Ll]ocal/
*.nupkg

# VS Code
.vscode/

# Others
*.log
*.DS_Store